pve_endpoint  = "https://192.168.50.11:8006/"
pve_host      = "192.168.50.11"
pve_node      = "pve1"
pve_api_token = "terraform@pve!tf=12345678-90ab-cdef-1234-567890abcdef"

eleve          = 1
ssh_public_key = "ssh-ed25519 AAAAC3Nza... eleve1@formation"

nfs_ip         = "192.168.50.40/24"
nfs_gateway    = "192.168.50.254"
data_disk_size = 60
