# /etc/pve/sdn/subnets.cfg — TP 08 / TP 12
# Nommage imposé : <zone>-<reseau-avec-tirets>-<prefixe>

subnet: zint-10.3.10.0-24
	vnet vint
	gateway 10.3.10.1
	snat 1
	dhcp-range start-address=10.3.10.100,end-address=10.3.10.200

subnet: zdmz-10.3.20.0-24
	vnet vdmz
	gateway 10.3.20.1
	snat 1
	dhcp-range start-address=10.3.20.100,end-address=10.3.20.200

subnet: zsrv-10.3.30.0-24
	vnet vsrv
	gateway 10.3.30.1
	snat 1
	dhcp-range start-address=10.3.30.100,end-address=10.3.30.200
