# /etc/pve/sdn/vnets.cfg — TP 08 / TP 12
# ⚠ 8 caractères alphanumériques maximum : le nom devient une interface Linux.

vnet: vint
	zone zint
	alias Reseau interne e3

vnet: vdmz
	zone zdmz
	alias DMZ e3

vnet: vsrv
	zone zsrv
	alias Services infra e3
