# /etc/pve/sdn/zones.cfg — TP 08 (nœud isolé, élève 3)
# Adapter « pve3 » et le numéro d'élève.

simple: zint
	ipam pve
	dhcp dnsmasq
	nodes pve3

simple: zdmz
	ipam pve
	dhcp dnsmasq
	nodes pve3

# Créée par Terraform au TP 12
simple: zsrv
	ipam pve
	dhcp dnsmasq
	nodes pve3
