# /etc/pve/sdn/zones.cfg — TP 08 (nœud isolé)
# Pas de ligne « nodes » : la zone s'applique à tous les nœuds — il n'y en a qu'un.

simple: zint
	ipam pve
	dhcp dnsmasq

simple: zdmz
	ipam pve
	dhcp dnsmasq

# Créée par Terraform au TP 12
simple: zsrv
	ipam pve
	dhcp dnsmasq
