# /etc/pve/sdn/controllers.cfg — TP 16
#
# Un ASN unique pour tous les nœuds  ⇒  iBGP en full-mesh.
# Avec 6 nœuds : 15 sessions, parfaitement raisonnable.
# Au-delà d'une dizaine de nœuds : fabric BGP + route-reflectors.

evpn: evpnctl
	asn 65000
	peers 172.30.30.151,172.30.30.152,172.30.30.153,172.30.30.154,172.30.30.155,172.30.30.156
