# /etc/pve/sdn/subnets.cfg — TP 17
#
# La gateway est ANYCAST : la même IP et la même MAC sur les 6 nœuds.
# vdb n'a volontairement PAS de snat : ses VM n'accèdent pas à Internet.
# Pas de dhcp-range : adressage statique (le DHCP du SDN n'existe qu'en zone Simple).

subnet: zevpn-10.60.10.0-24
	vnet vprod
	gateway 10.60.10.1
	snat 1

subnet: zevpn-10.60.20.0-24
	vnet vpub
	gateway 10.60.20.1
	snat 1

subnet: zevpn-10.60.30.0-24
	vnet vdb
	gateway 10.60.30.1
