# /etc/pve/sdn/subnets.cfg — TP 16
#
# La gateway est ANYCAST : la même IP et la même MAC sur les 6 nœuds.
# vdb n'a volontairement PAS de snat : ses VM n'accèdent pas à Internet.

subnet: zevpn-10.60.10.0-24
	vnet vprod
	gateway 10.60.10.1
	snat 1
	dhcp-range start-address=10.60.10.100,end-address=10.60.10.240

subnet: zevpn-10.60.20.0-24
	vnet vpub
	gateway 10.60.20.1
	snat 1
	dhcp-range start-address=10.60.20.100,end-address=10.60.20.240

subnet: zevpn-10.60.30.0-24
	vnet vdb
	gateway 10.60.30.1
	dhcp-range start-address=10.60.30.100,end-address=10.60.30.240
