# /etc/pve/sdn/vnets.cfg — TP 16
# En zone EVPN, « tag » = le VNI VXLAN du VNet (distinct du vrf-vxlan de la zone).

vnet: vprod
	zone zevpn
	tag 11010
	alias Production

vnet: vpub
	zone zevpn
	tag 11020
	alias DMZ publique

vnet: vdb
	zone zevpn
	tag 11030
	alias Bases de donnees (sans Internet)
